@{
    ViewData["Title"] = "EMS Submission Form Admin";
}

<div id="emsAdmin" value="emsAdmin"></div>

<script src="~/dist/vendors-node_modules_babel_polyfill_lib_index_js-node_modules_material-ui_core_esm_index_js-n-a05e18.bundle.js"></script>
<script src="~/dist/src_EMSSubmit_EMSSubmitUpdatePopup_tsx.bundle.js"></script>

<script src="~/dist/emsAdmin.bundle.js"></script>