/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/* add new style */

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    width: 100% !important;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Top Menu */

/* Header */

.SubTableHeader {
    background-color: darkblue;
    color: white !important;
    padding-top: 10px;
    padding-left: 20px;
}

.SubTableHeader > th {
    color: white !important;
    text-align: center;
}

.SubSubTableHeader {
    background-color: darkgreen;
    color: white !important;
    padding-top: 10px;
    padding-left: 20px;
}

.SubSubTableHeaderDanger {
    background-color: darkred;
    color: white !important;
    padding-top: 10px;
    padding-left: 20px;
}

.textRowHeader {
    color: darkblue;
}

/* Header */

/* Margin */

.topA {
    color: black !important;
}

    .topA.active {
        color: red !important;
    }

.subTopA {
    color: white !important;
}

    .subTopA.active {
        color: red !important;
    }

.margin10 {
    margin: 10px !important;
}

.paddingMargin0 {
    padding: 0px !important;
    margin: 0px !important;
}

#requiredFieldLabel {
    color: red !important;
}

#requiredFieldLabel-helper-text {
    color: red !important;
}

.marginBottom5 {
    margin-bottom: 5px !important;
}

.marginBottom0 {
    margin-bottom: 0px !important;
}

.marginRight10 {
    margin-right: 10px !important;
}

.marginLeft20 {
    margin-left: 20px !important;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.marginLeft5 {
    margin-left: 5px !important;
}

.marginTop5 {
    margin-top: 5px !important;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginTop20 {
    margin-top: 20px !important;
}

.paddingTop5 {
    padding-top: 5px !important;
}

.paddingRight20 {
    padding-right: 20px !important;
}

.paddingLeft10 {
    padding-left: 10px !important;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.textRight {
    text-align: right !important;
    min-width: 150px;
    vertical-align: top;
}

.textLeft {
    text-align: left !important;
}

.textCenter {
    text-align: center !important;
}

.alignRight {
    float: right !important;
    display: block !important;
}

.alignLeft {
    float: left !important;
    display: block !important;
}

.minHeight200 {
    min-height: 200px !important;
}

.minHeight300 {
    min-height: 300px !important;
}

.MuiBox-root {
    padding: 0px !important;
}

/* Top Menu */

/* Tab */

.Mui-selected, .contentHeader {
    background-color: darkred !important;
    color: white !important;
}

.Mui-selected, .contentAlert {
    background-color: lightcyan !important;
    color: darkred !important;
    padding-left: 20px;
    text-align: center !important;
}

.notification {
    color: red !important;
}

.ReferenceBox {
    background-color: black !important;
    color: white !important;
}

.OptionalBox {
    background-color: darkgoldenrod !important;
    color: white !important;
}

.contentHeader {
    padding-left: 20px;
}

.savedContentHeader {
    background-color: darkblue !important;
    color: white !important;
    padding-left: 20px;
}

.videoHeader {
    background-color: black !important;
    color: white !important;
}

.RedFont {
    color: red !important;
    font-weight: bold !important;
}

/* Tab */


/* Progress Bar */
.MuiCircularProgress-root {
    position: relative;
    top: 30px;
    left: 30px;
}

.progressDiv {
    background: white;
    width: 100px;
    height: 100px;
    margin-top: 15%;
    margin-left: 50%;
}

/* Top Menu */

/* Phone Info */

.phoneNumber {
    color: white;
    text-decoration: none;
}

/* Phone Info */

/* Table */

.alignTop {
    vertical-align: top !important;
}

/* Table */

/* textarea */

textarea {
    width: 100%
}

/* textarea */

.highlight {
    background-color: yellow !important;
    color: black !important;
}


/* Font */
.darkBlue {
    color: darkblue;
}

/* Paper */
.marginTop10LightRed {
    margin-top: 10px !important;
    background-color: #faf5f5 !important;
    width: 100% !important;
}

.marginTop10LightBlue {
    margin-top: 10px !important;
    background-color: #f1f9f9 !important;
    width: 100% !important;
}

.marginTop10LightYellow {
    margin-top: 10px !important;
    background-color: #f9f9f2 !important;
    width: 100% !important;
}

/* Label */
.error {
    color: red !important;
}

#requiredFieldLabel {
    color: red !important;
}

#requiredFieldLabel-helper-text {
    color: red !important;
}

.MuiInputLabel-root {
    font-size: 0.8em !important;
}
/* Button */
.purpleButton {
    background-color: purple !important;
    color: white !important;
    width: 100% !important;
}

.blackButton {
    background-color: black !important;
    color: white !important;
    width: 100% !important;
}

.backButton {
    background-color: #fd572b !important;
    color: white !important;
    width: 100% !important;
}

.prevButton {
    background-color: #d8970f !important;
    color: white !important;
    width: 100% !important;
}

.mainPageButton {
    background-color: lightgray !important;
    color: black !important;
    width: 100% !important;
    text-align: left;
}

.btnFileImage {
    padding: 3px !important;
}

/* CheckBox */
.whiteCheckBox {
    margin: 0px !important;
    width: 100% !important;
    color: white !important;
}

/* Table */
.borderBottom {
    border-bottom: 1px solid gray;
}

/* Image */
.fileImage {
    width: 40px;
    height: 40px;
}

img.thumnail {
    transition: all 0.3s ease 0s;
    width: 40px;
    height: 40px;
}

    img.thumnail:hover {
        transform-origin: bottom left;
        transform: scale(8);
        z-index: 1000;
    }
