@{
    ViewData["Title"] = "EMS Submission Form Category";
}

<div id="emsCategory" value="emsCategory"></div>

<script src="~/dist/vendors-node_modules_babel_polyfill_lib_index_js-node_modules_material-ui_core_esm_index_js-n-a05e18.bundle.js"></script>
<script src="~/dist/emsCategory.bundle.js"></script>