<div class="card bg-light jumbotron">
    <div class="card-header">
        <h2 class="text-primary">EMS Submission eForm Web API</h2>
    </div>
    <div class="card-body cardBody">
        <p class="lead">This site is for EMS Submission.</p>
        <p>
            <a href="~/Help" class="btn btn-primary btn-lg">EMS Submission eForm Web API Help &raquo;</a>
        </p>
    </div>
</div>
